<div
class="panel panel-default">
<!-- <div class="panel-heading">{{ element.name }}</div> -->

<div class="panel-heading" #heading>{{ name }}</div> <!-- onChanges Demo.  use previous panel-heading as original , it will have same result-->
<div class="panel-body">
 <!--  <p>
    <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
    <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
  </p> -->

<ng-content></ng-content>  <!-- works same as above (dynamic data pass) -->
</div>
</div>
